In [0]:
# Re-executar a criação do DataFrame (se você estiver em uma nova célula ou sessão)
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

data = [
  ("Alice", 1, 1.70, "Engenharia"),
  ("Bob", 2, 1.85, "Ciência da Computação"),
  ("Charlie", 3, 1.75, "Engenharia"),
  ("David", 4, 1.90, "Matemática"),
  ("Eve", 5, 1.60, "Ciência da Computação"),
  ("Frank", 6, None, "Engenharia")
]

schema = StructType([
  StructField("Nome", StringType(), True),
  StructField("ID", IntegerType(), True),
  StructField("Altura", DoubleType(), True),
  StructField("Departamento", StringType(), True)
])

df = spark.createDataFrame(data, schema)

# Criar uma view temporária para usar com Spark SQL
df.createOrReplaceTempView("pessoas")

print("DataFrame original:")
df.show()
print("\nView temporária 'pessoas' criada.")

### a) Seleção e Renomeação de Colunas (Spark SQL):

In [0]:
%sql
-- Selecionar apenas algumas colunas
SELECT Nome, Departamento FROM pessoas;

-- Renomear uma coluna
SELECT Nome, ID, Altura, Departamento AS Area FROM pessoas;

-- Selecionar e renomear ao mesmo tempo
SELECT Nome AS Nome_Completo, ID, Altura AS Altura_Metros FROM pessoas;

### b) Filtragem de Dados (Spark SQL):

In [0]:
%sql
-- Filtrar por uma condição (pessoas da Engenharia)
SELECT * FROM pessoas WHERE Departamento = 'Engenharia';

-- Filtrar por múltiplas condições (ID > 3 E Altura > 1.70)
SELECT * FROM pessoas WHERE ID > 3 AND Altura > 1.70;

-- Filtrar por Altura > 1.80
SELECT * FROM pessoas WHERE Altura > 1.80;

### c) Criação e Modificação de Colunas (Spark SQL):

In [0]:
%sql
-- Adicionar uma nova coluna com valor constante
--SELECT *, 'Brasil' AS Pais FROM pessoas;

-- Criar uma nova coluna baseada em uma condição (ex: 'Status_Altura')
/*SELECT
*,
CASE
  WHEN Altura >= 1.80 THEN 'Alto'
  WHEN Altura < 1.70 THEN 'Baixo'
  ELSE 'Medio'
END AS Status_Altura
FROM pessoas;*/

-- Modificar uma coluna existente (ex: Altura em cm)
SELECT Nome, ID, Altura * 100 AS Altura_cm, Departamento FROM pessoas;

### d) Agregações (Spark SQL):

In [0]:
%sql
-- Contar o número de pessoas por departamento
--SELECT Departamento, COUNT(*) AS Contagem FROM pessoas GROUP BY Departamento;

-- Calcular a média da altura por departamento
--SELECT Departamento, AVG(Altura) AS Media_Altura FROM pessoas GROUP BY Departamento;

-- Múltiplas agregações
SELECT
Departamento,
AVG(Altura) AS Media_Altura,
MIN(Altura) AS Min_Altura,
MAX(Altura) AS Max_Altura
FROM pessoas
GROUP BY Departamento;

### e) Ordenação (Spark SQL):

In [0]:
%sql
-- Ordenar por Altura (crescente)
SELECT * FROM pessoas ORDER BY Altura ASC;

-- Ordenar por Departamento (crescente) e depois por Altura (decrescente)
SELECT * FROM pessoas ORDER BY Departamento ASC, Altura DESC;

### f) Remoção de Duplicatas (Spark SQL):

In [0]:
# Adicionar um dado duplicado para demonstração
data_duplicado = data + [("Alice", 1, 1.70, "Engenharia")]
df_com_duplicata = spark.createDataFrame(data_duplicado, schema)
df_com_duplicata.createOrReplaceTempView("pessoas_com_duplicata")

print("\nDataFrame com duplicata (para SQL):")
df_com_duplicata.show()

In [0]:
%sql
-- Remover linhas duplicadas (considera todas as colunas)
--SELECT DISTINCT * FROM pessoas_com_duplicata;

-- Remover duplicatas com base em um subconjunto de colunas (ex: Nome e Departamento)
-- Isso é um pouco mais complexo em SQL puro sem funções de janela, mas pode ser feito com GROUP BY
-- ou com funções de janela (ROW_NUMBER) para selecionar a primeira ocorrência.
-- Usando GROUP BY para simular a remoção de duplicatas em um subconjunto:
/*SELECT Nome, ID, Altura, Departamento
FROM (
SELECT *,
       ROW_NUMBER() OVER (PARTITION BY Nome, Departamento ORDER BY ID) as rn
FROM pessoas_com_duplicata
)
WHERE rn = 1;*/

-- Ou, se você quer apenas as colunas Nome e Departamento sem duplicatas:
SELECT DISTINCT Nome, Departamento FROM pessoas_com_duplicata;

### g) Tratamento de Valores Nulos (Spark SQL):

In [0]:
%sql
-- DataFrame com valor nulo (Frank tem Altura nula)
-- A view 'pessoas' já tem o valor nulo para Frank.

-- Remover linhas com qualquer valor nulo
--SELECT * FROM pessoas WHERE Altura IS NOT NULL AND Nome IS NOT NULL AND ID IS NOT NULL AND Departamento IS NOT NULL;
-- Ou, mais conciso se você sabe quais colunas podem ter nulos:
--SELECT * FROM pessoas WHERE Altura IS NOT NULL;

-- Preencher valores nulos em uma coluna específica
/*SELECT
Nome,
ID,
COALESCE(Altura, 0.0) AS Altura, -- Substitui NULL por 0.0 na coluna Altura
Departamento
FROM pessoas;*/

-- Preencher valores nulos em todas as colunas do mesmo tipo (ex: Departamento)
SELECT
Nome,
ID,
Altura,
COALESCE(Departamento, 'Desconhecido') AS Departamento
FROM pessoas;

In [0]:
# Exemplo de como executar SQL e obter um DataFrame PySpark
df_engenharia_sql = spark.sql("SELECT * FROM pessoas WHERE Departamento = 'Engenharia'")
print("\nResultado da query SQL em um DataFrame PySpark:")
df_engenharia_sql.show()